$cell-size       : 10px;
$color-activity-density-1 : #EEEEEE;
$color-activity-density-2 : #CCE295;
$color-activity-density-3 : #8DC678;
$color-activity-density-4 : #4B9747;
$color-activity-density-5 : #305F2E;